# Bot Info
BOT_NAME=
BOT_NUMBER=
BOT_OWNER="Add Owner Name here" 



# Options
DB_UPDATE=false  #if need to update downloading links to database (MYSQL DATABASE), set true
AUTO_REPLY=false
DISABLE_START_MESSAGE=true



# Databses

# MYSQL 
# No need to update this if you don't want to update download links to the database 
DB_HOST=#database host
DB_USER=#database username
DB_PASSWORD=#database password
DB_DATABASE=#database name
DB_PORT=#default 3307 or database port

# API_Keys
API_KEY=your_api_key_here
API_URL=https://api.sacreations.me #default API ,You can change it if  need 
API2_URL=



# > You can add any environment variable to .env file 

# > Rename this or create a new config.env for use 

# > If you add new environment variable,you also need to update it in config.js to use it 

# > Dont add spaces around the = sign: 
    