API_KEY= #api key
API_URL= #api url 
DB_HOST= #database host
DB_USER= #database username
DB_PASSWORD= #database password
DB_DATABASE= #database name
DB_PORT= #default 3307 or database port
DB_UPDATE= #if need to update downloading links to database, set true


You can add any environment variable to .env file 

Rename this or create a new config.env for use 

If you add new environment variable,you also need to update it in config.js to use it  